! Standard colorscheme
!URxvt*color0: black
!URxvt*color1: red3
!URxvt*color2: green3
!URxvt*color3: yellow3
!URxvt*color4: blue2
!URxvt*color5: magenta3
!URxvt*color6: cyan3
!URxvt*color7: gray90
!URxvt*color8: grey50
!URxvt*color9: red
!URxvt*color10: green
!URxvt*color11: yellow
!!URxvt*color12: blue
!URxvt*color12: rgb:5c/5c/ff
!URxvt*color13: magenta
!URxvt*color14: cyan
!URxvt*color15: white

! Molokai colorscheme
!#define fg           #F8F8F2
!#define bg           #121212
!#define black        #121212
!#define red          #F92672
!#define green        #A6E22E
!#define yellow       #C47F2C
!#define blue         #30309B
!#define purple       #AE81FF
!#define cyan         #4699AF
!#define light_grey   #9999AA
!#define dark_grey    #808080
!#define light_red    #F92672
!#define light_green  #80FF00
!#define light_yellow #FFBA68
!#define light_blue   #7070F0
!#define light_purple #C5A5FF
!#define light_cyan   #66D9EF
!#define white        #F8F8F2

! Dracula Xresources palette
!#define fg:       #F8F8F2
!#define bg:       #282A36
!#define black:    #000000
!#define red:      #4D4D4D
!#define green:    #FF5555
!#define yellow:   #FF6E67
!#define blue:     #50FA7B
!#define purple:   #5AF78E
!#define cyan:     #F1FA8C
!#define light_grey:     #F4F99D
!#define dark_grey:      #BD93F9
!#define light_red:      #CAA9FA
!#define light_green:    #FF79C6
!#define light_yellow:   #FF92D0
!#define light_blue:     #8BE9FD
!#define light_purple:   #9AEDFE
!#define light_cyan:     #BFBFBF
!#define white:          #E6E6E6

! Tomorrow Night colorscheme
!#define bg        	#1d1f21
!#define fg	     	#c5c8c6
!#define black		#000000
!#define red	     	#cc6666
!#define green	       	#b5bd68
!#define yellow     	#de935f
!#define blue	       	#81a2be
!#define purple		#b294bb
!#define cyan		#8abeb7
!#define light_grey     	#373b41
!#define dark_grey	#666666
!#define light_red	#ff3334
!#define light_green	#9ec400
!#define light_yellow	#f0c674
!#define light_blue   	#81a2be
!#define light_purple	#54ced6
!#define light_cyan	#54ced6
!#define white		#282a2e

!Tomorrow Eighties colorscheme
!#define fg           #cccccc
!#define bg           #2d2d2d
!#define black        #000000
!#define red          #f2777a
!#define green        #99cc99
!#define yellow       #f99157
!#define blue         #6699cc
!#define purple       #cc99cc
!#define cyan         #66cccc
!#define light_grey   #666666
!#define dark_grey    #515151
!#define light_red    #ff3334
!#define light_green  #9ec400
!#define light_yellow #ffcc66
!#define light_blue   #6699cc
!#define light_purple #b777e0
!#define light_cyan   #54ced6
!#define white        #393939

! Base16 Tomorrow Night
! Scheme: Chris Kempson (http://chriskempson.com)
#define base00 #2d2d2d
#define base01 #393939
#define base02 #515151
#define base03 #999999
#define base04 #b4b7b4
#define base05 #cccccc
#define base06 #e0e0e0
#define base07 #ffffff
#define base08 #f2777a
#define base09 #f99157
#define base0A #ffcc66
#define base0B #99cc99
#define base0C #66cccc
#define base0D #6699cc
#define base0E #cc99cc
#define base0F #a3685a

#include ".xres/colors"

! Settings regarding Xft
#include ".xres/xft"

! Settings for URxvt
#include ".xres/urxvt"
