! Base16 Tomorrow Night
! Scheme: Chris Kempson (http://chriskempson.com)
#define base00 #2d2d2d
#define base01 #393939
#define base02 #515151
#define base03 #999999
#define base04 #b4b7b4
#define base05 #cccccc
#define base06 #e0e0e0
#define base07 #ffffff
#define base08 #f2777a
#define base09 #f99157
#define base0A #ffcc66
#define base0B #99cc99
#define base0C #66cccc
#define base0D #6699cc
#define base0E #cc99cc
#define base0F #a3685a
!
!*foreground:   base05
!*background:   base00
!*cursorColor:  base05
!
!*color0:       base00
!*color1:       base08
!*color2:       base0B
!*color3:       base0A
!*color4:       base0D
!*color5:       base0E
!*color6:       base0C
!*color7:       base05
!
!*color8:       base03
!*color9:       base08
!*color10:      base0B
!*color11:      base0A
!*color12:      base0D
!*color13:      base0E
!*color14:      base0C
!*color15:      base07


*foreground: #cccccc
*background: #2d2d2d
*cursorColor: #cccccc

*color0: #2d2d2d
*color1: #f2777a
*color2: #99cc99
*color3: #ffcc66
*color4: #6699cc
*color5: #cc99cc
*color6: #66cccc
*color7: #cccccc

*color8: #999999
*color9: #f2777a
*color10: #99cc99
*color11: #ffcc66
*color12: #6699cc
*color13: #cc99cc
*color14: #66cccc
*color15: #ffffff

! Note: colors beyond 15 might not be loaded (e.g., xterm, urxvt),
! use 'shell' template to set these if necessary
*color16: #f99157
*color17: #a3685a
*color18: #393939
*color19: #515151
*color20: #b4b7b4
*color21: #e0e0e0
